*.bin
*.j80
*.output
*.1
*.o
src/assembler/j80parser.*
src/assembler/j80lexer.cpp
src/compiler/nanocparser.cpp
src/compiler/nanocparser.hpp
src/compiler/nanoclexer.cpp
j80
location.hh
position.hh
stack.hh