.DS_Store
*.bin
*.output
*.1
*.o
src/assembler/j80parser.*
src/assembler/j80lexer.cpp
src/compiler/nanocparser.cpp
src/compiler/nanocparser.hpp
src/compiler/nanoclexer.cpp
location.hh
position.hh
stack.hh
xcuserdata
projects/msvc2019/.vs
projects/msvc2019/*.user
projects/msvc2019/**/